body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
}

.general-box {
  margin: 2px;
  border: solid black 2px;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(184, 175, 175);
}

#header {
  background-color: #24292F;
  color: white;
}

.label-form {
  font-size: larger;
}