body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
  background-image: url("../img/mr-rogers.jpg");
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
}

.general-box {
  background-color: #AFC5D0;
  color: black;
  border: solid #658BA0 10px;
  color: #F05924;
}

#header {
  background-color: #AFC5D0;
  color: black;
  border: solid #658BA0 10px;
  color: #F05924;
}

.label-form {
  font-size: larger;
}

.center {
  display: block;
  margin-right: 15%;
  margin-left: 15%;
}

#form-box {
  margin: 15px;
}
