body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
}

.general-box {
  margin: 2px;
  border: solid black 2px;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(184, 175, 175);
  background-size: 100% auto;
}

#header {
  background-color: #24292F;
  color: white;
}

.label-form {
  font-size: larger;
}

.center {
  display: block;
  margin-right: 25%;
  margin-left: 25%;
}

.face-box {
  background-image: url("../img/robo-face.png");
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 35%;
}

#output-box {
  margin-left: 25%;
  margin-right: 25%;
}

#button {
  margin-right: 25%;
  margin-left: 25%;
}